@font-face { font-family: Pbjam; src: url('pbjam.TTF'); }
html {
    font-size: 100%;
}
body { 
    font-family: "Pbjam", 'Courier New', Courier, monospace;
    text-align: center;
    
}
body b {
    color: cornflowerblue;
}
h1 {
    color: cornflowerblue;
    text-align: center;
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /*text-shadow: .03em .03em rgb(57, 107, 201);*/
}

li {
    list-style-type: none;
}

ul b:hover {
    cursor: pointer;
    color: rgb(57, 107, 201);
}
#menu li:active {
    box-shadow: none;
}
#settingsMenu li:active {
    box-shadow: none;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu li {
    color: #fff;
    border: 1.5px solid cornflowerblue;
    border-radius: 10px;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    width: 5em;
    height: 2.2em;
    box-sizing: border-box;
    box-shadow: 2.5px 2.5px 2.5px cornflowerblue;
    margin-bottom: .2em;
    float: left;

}
#menu li a {
    display: block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}
#settingsMenu {
    display: none;
    position: absolute;
}
#settingsMenu li {
    color: #fff;
    border: 1.5px solid cornflowerblue;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    margin-top: 5%;
    box-shadow: 3px 3px 3px cornflowerblue;
    width: 5em;
    height: 2.2em;
    float: left;
}
fieldset {
    display: none;
    position: absolute;
    text-align: left;
    border: 1.5px solid cornflowerblue;
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.infoInsert {
    text-align: right;
    margin-right: 1em;
    list-style-type: none;
}

#reasonBox, #user, #password, #dailyImage {
    font-family: "Pbjam", 'Courier New', Courier, monospace;
}
#date, input[type=radio]:hover {
    font-family: "Pbjam", 'Courier New', Courier, monospace;
    cursor: pointer;
    text-align: center;

}
#moodMenu {
    font-family: "Pbjam", 'Courier New', Courier, monospace;
    text-align: center;
    height: 1.2em;
    cursor: pointer;
    vertical-align: middle;
}

.button {
    font-family: "Pbjam", 'Courier New', Courier, monospace;
    border: none;
    background: cornflowerblue;
    padding: 6px 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button {
    font-family: "Pbjam", 'Courier New', Courier, monospace;
    margin-right: 20px;
    border: none;
    background: cornflowerblue;
    padding: 6px 16px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
input[type=file]::file-selector-button:hover, .button:hover {
    background: rgb(57, 107, 201);
}
#submitButton {
    font-family: "Pbjam", 'Courier New', Courier, monospace;
    margin-left: 4.7em;
    
}
#diaryEntry {
    border: 1.5px solid cornflowerblue;
    border-radius: 10px;
    width: 50vw;
    margin-left: 25vw;
}

address a {
    text-decoration: none;
    color: cornflowerblue;
}
address a:hover {
    color: rgb(57, 107, 201);
}